html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
} 

/* para teste, por enquanto , resolver problema de responsividade */

.App {
  background: linear-gradient(90deg, #000, #111, #002b5c);
  /* responsividade, teste */
  /* width: 100%;
  min-height: 100vh; */
}

h1 {
  font-weight: 300;
}

.btn-primary {
  background-color: #0066ff;
  border: none;
}
